<br/>
	
	<h3>Patient Report: <%= @start %> - <%= @end %></h3>

<table class='table table-striped table-bordered' style="width:80%">
  <tr>
      <th>SI.No</th>
      <th>File no</th>
      <th>Name</th>
      <th>Age</th>
      <th>Mobile</th>
      <th>Nationality</th>
      <th>Payment mode</th>
      <th>Dr</th>
      <th>Date</th>
      <th colspan="1"></th>
  </tr>
	<% i = 1


	%>
<% @patient_details.each do |patient_detail| %>
  <tr>
    <td><%= i %></td>
	<% i += 1 %>
    <td><%= patient_detail.file_no %></td>
    <td><%= patient_detail.name %></td>
    <td><%= patient_detail.age %></td>
    <td><%= patient_detail.mobile %></td>
    <td><%= patient_detail.nationality %></td>
    <td><%= patient_detail.payment_mode %></td>
    <td><%= patient_detail.doctor %></td>
    <td><%= patient_detail.visit_date %></td>
    <td><%= link_to 'Show', patient_detail, class: "btn btn-sm btn-purple" %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @patient_details %>