<p id="notice"><%= notice %></p>

<h1>Listing Patient Details</h1>
<%= link_to 'New Patient detail', new_patient_detail_path, class: "btn btn-pink pull-right" %>
<table class="table table-striped table-bordered" style="overflow-x: scroll">
  <thead>
    <tr>
      <th>Id</th>
      <th>File no</th>
      <th>Name</th>
      <th>Age</th>
      <th>Mobile</th>
      <!-- <th>Nationality</th> -->
      <th>Payment mode</th>
      <th>Doctor</th>
      <th>Visit date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_details.each do |patient_detail| %>
      <tr>
        <td><%= patient_detail.id %></td>
        <td><%= patient_detail.file_no %></td>
        <td><%= patient_detail.name %></td>
        <td><%= patient_detail.age %></td>
        <td><%= patient_detail.mobile %></td>
        <!-- <td><%= patient_detail.nationality %></td> -->
        <td><%= patient_detail.payment_mode %></td>
        <td><%= patient_detail.doctor %></td>
        <td><%= patient_detail.visit_date %></td>
        <td><%= link_to 'Show', patient_detail, class: "btn btn-sm btn-purple" %></td>
        <td><%= link_to 'Edit', edit_patient_detail_path(patient_detail), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', patient_detail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @patient_details %>
