<p id="notice"><%= notice %></p>
<div class="profile-user-info profile-user-info-striped">
<div class="profile-info-row">
  <div class="profile-info-name">File no:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.file_no %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Name:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.name %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Age:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.age %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Mobile:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.mobile %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Nationality:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.nationality %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Payment mode:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.payment_mode %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Doctor:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.doctor %>.</span>
  </div>
</div>
<div class="profile-info-row">
  <div class="profile-info-name">Visit date:</div>

  <div class="profile-info-value">
    <span><%= @patient_detail.visit_date %>.</span>
  </div>
</div>
</div><br>
<!-- <p>
  <strong>File no:</strong>
  <%= @patient_detail.file_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient_detail.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient_detail.age %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @patient_detail.mobile %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @patient_detail.nationality %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @patient_detail.payment_mode %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @patient_detail.doctor %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @patient_detail.visit_date %>
</p> -->

<%= link_to 'Edit', edit_patient_detail_path(@patient_detail), :class => "btn btn-sm btn-purple" %> |
<%= link_to 'Back', patient_details_path, :class => "btn btn-sm btn-success" %>
