

<p id="notice"><%= notice %></p>

<h1>Total No of Counts : <%= @result %></h1>


<br>
<div class="row">
  <div class="col-sm-6">
  <table class="table table-striped table-bordered">
  <h4> Gender Based:</h4>
    <tr>
      <th>Male</th>
      <th>Female</th>
    </tr>
     <%# @appointments.each do |appointment| %>
    <tr>
      <td><%= @male_count %></td>
      <td><%= @female_count %></td>
    </tr>
    <%# end %>
  </table>
  </div>
  <div class="col-sm-6">
    <div id="sex-container" style="min-width: 310px; height: 300px; max-width: 400px; margin: 0 auto"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
  <table class="table table-striped table-bordered">
  <h4> Cash and Insurance:</h4>
    <tr>
      <th>Cash</th>
      <th>Insurance</th>
    </tr>
    <tr>
      <td><%= @cash %></td>
      <td><%= @insurance %></td>
    </tr>
  </table>
  </div>
  <div class="col-sm-6">
    <div id="cash-container" style="min-width: 310px; height: 300px; max-width: 400px; margin: 0 auto"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <table class="table table-striped table-bordered">
    <h4> Visit Type:</h4>
      <tr>
        <th>New</th>
        <th>Old</th>
        <th>Revisit</th>
      </tr>
      <tr>
        <td><%= @new_visit_count %></td>
        <td><%= @old_visit_count %></td>
        <td><%= @revisit_count %></td>
      </tr>
    </table>

  </div>
  <div class="col-sm-6">
    <div id="visit-container" style="min-width: 310px; height: 300px; max-width: 400px; margin: 0 auto"></div>
  </div>
</div>
<div class="row">
<div class="col-sm-12">

<table class="table table-striped table-bordered" style="overflow-x: scroll;display: block;">
<h4> Nationality:</h4>
 <!--  <tr>
    <th>Indian</th>
    <th>Other</th>
  </tr> -->
   <tr>
   <% @all_national.each do |nation| %>
     <th><%= nation %></th>
     <% end %>
   </tr>
  <tr>
   <% @all_national.each do |nation| %>
    <td><%= @all_national_visits[nation] %></td>
  <% end %>
  </tr>
</table>

</div>
</div>
<div class="row">
<div class="col-sm-12">
<div id="nationals" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<table class="table table-striped table-bordered">
<h4> Age Group:</h4>
  <tr>
    <th>0-10</th>
    <th>11-20</th>
    <th>21-30</th>
    <th>31-40</th>
    <th>41-50</th>
    <th>51-60</th>
    <th>61-70</th>
    <th>71 above</th>
  </tr>
   <%# @appointments.each do |appointment| %>
  <tr>
    <td><%= @toddlers.length %></td>
    <td><%= @teen.length %></td>
    <td><%= @youth.length %></td>
    <td><%= @adult.length %></td>
    <td><%= @middle.length %></td>
    <td><%= @mature.length %></td>
    <td><%= @old.length %></td>
    <td><%= @grand.length %></td>
  </tr>
  <%# end %>
</table>
</div>
<div class="col-sm-6">
<div id="age-container" style="min-width: 310px; height: 300px; max-width: 400px; margin: 0 auto"></div>
</div>
</div>

<table class="table table-striped table-bordered">
<h4> Days of Week:</h4>
<% @days.collect{|p| [Date::DAYNAMES[p.DOW], p.CNT]}.transpose.each do |line| %>
  <tr>
    <% line.each do |cell| %>
      <td><%= cell %></td>
    <% end %>
  </tr>
<% end %>
</table>


<table class="table table-striped table-bordered">
<h4> Time of Day:</h4>
<% @hours.collect{|p| ["#{p.HR} - #{p.HR + 1}", p.CNT]}.transpose.each do |line| %>
  <tr>
    <% line.each do |cell| %>
      <td><%= cell %></td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="row">
<div class="col-sm-6">
<table class="table table-striped table-bordered">
<h4>Shift Rotation:</h4>
  <tr>
      <td>9-3</td>
      <td>4-11</td>
  </tr>
  <tr>
    <td><%= @shift1.length %></td>
    <td><%= @shift2.length %></td>
  </tr>
  </table>  
</div>
<div class="col-sm-6">
<div id="rotation-container" style="min-width: 310px; height: 300px; max-width: 400px; margin: 0 auto"></div>
</div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<script>
  $(document).ready(function () {
    var national_types = []
    var national_data = []
    <%  @all_national_visits.each do |k,v| %>
        national_types.push('<%= k %>');
        national_data.push(<%= v %>);
    <% end %>

    // Build the chart
    Highcharts.chart('sex-container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Gender Wise Patients'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Male',
                y: <%= @male_count %>
            }, {
                name: 'Female',
                color: 'pink',
                y: <%= @female_count %>,
                sliced: true,
                selected: true
            }]
        }]
    });
    // Build the chart
    Highcharts.chart('cash-container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Cash and Insurance'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Cash',
                color: 'red',
                y: <%= @cash %>
            }, {
                name: 'Insurance',
                y: <%= @insurance %>,
                sliced: true,
                selected: true
            }]
        }]
    });
    // Build the chart
    Highcharts.chart('visit-container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Visit Type'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Visits',
            colorByPoint: true,
            data: [{
                name: 'New Visit',
                color: '#f7a35c',
                y: <%= @new_visit_count %>
            }, {
                name: 'Old Visit',
                y: <%= @old_visit_count %>
            }, {
                name: 'Revisit',
                y: <%= @revisit_count %>,
                sliced: true,
                selected: true
            }]
        }]
});
    // Build the chart
    Highcharts.chart('rotation-container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Shift based Patients visit'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Rotation',
            colorByPoint: true,
            data: [{
                name: '9-3',
                y: <%= @shift1.length %>
            }, {
                name: '4-11',
                color: 'pink',
                y: <%= @shift2.length %>,
                sliced: true,
                selected: true
            }]
        }]
    });

    // Build the chart
    Highcharts.chart('age-container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'column'
        },
        title: {
            text: 'Age based Patients visit'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            column: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Age',
            colorByPoint: true,
            data: [{
                name: '0-10',
                y: <%= @toddlers.length %>
            }, {
                name: '11-20',
                y: <%= @teen.length %>
            }, {
                name: '21-30',
                y: <%= @youth.length %>
            }, {
                name: '31-40',
                y: <%= @adult.length %>
            }, {
                name: '41-50',
                y: <%= @middle.length %>
            }, {
                name: '51-60',
                y: <%= @mature.length %>
            }, {
                name: '61-70',
                y: <%= @old.length %>
            }, {
                name: '71 above',
                color: 'pink',
                y: <%= @grand.length %>,
                sliced: true,
                selected: true
            }]
        }]
    });

    Highcharts.chart('nationals', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'National based visit chart'
        },
        xAxis: {
            categories: national_types
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Total Patients visited'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 5000,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '<br/>Total Patients: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
                name: 'sdf',
                data: national_data
        }
        ]
    });
  });
</script>